
<link rel='stylesheet' type="text/css" href='/css/styles.css'>
<link rel="icon" href="/images/sky.jpg">
<title>VERIFIY THE NUMBER</title>
<body>
    <form id="calculate-form">
        <input type="text" placeholder="Enter Number">
        <button>Verify</button>
    </form>
    <p id='number-type'></p>
<script src="/js/custom/mainScript.js"></script>
</body>
